/*********GENERAL*********/

#about /* This is the photo of me in the about section */ {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  border: 1px solid #3f3f3f;
  display: block;
}

.jumbotron {
  font-size: 8em;
  margin-top: 0;
  height: 400px;
  background-image: url(../img/freemont2.jpg);
  background-repeat: no-repeat;
  width: 100%;
  border-bottom: 2px solid #3f3f3f;
  color: white;
  padding-left: 5%;
}

.container {
  padding: 20px 0;
  padding-top: 5px;
}

.col-sm-12 {
  margin-bottom: 20px;
}

/*********BODY*********/

/*********NAV BAR*********/

#logo {
  margin: 5px 0 0 20px;
  float: left;
  text-align: center;
  text-decoration: none;
}

#logo h2, h5 {
  color: #e8e8ee;
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav {
  height: 60px;
  background-color: #3f3f3f;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
}

nav a {
  display: inline-block;
  margin: 10px;
  padding: 0 15px;
  text-decoration: none;
  font-size: 2.5em;
  color: #e8e8ee;
  text-decoration: none;
}

nav a:visited {
  color: #e8e8ee;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: #b9a990;
}

/*********FOOTER*********/

footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  border-top: 2px solid #3f3f3f;
}

footer img {
  margin-top: 40px;
  height: 40px;
}

footer a {
  display: inline-block;
}

/*********MEDIA SCREEN TABLET*********/

@media screen and (max-width: 768px) {
  nav {
    clear: both;
    text-align: center;
    margin-bottom: 175px;
    width: 100%;
  }

  nav a {
    margin-top: 0;
    display: block;
    text-align: center;
    color: #3f3f3f;
  }

  nav a:visited {
    color: #3f3f3f;
  }

  #logo {
    margin: 5px 0 0 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .jumbotron {
    background-image: url(../img/freemont_mobile.jpg);
    background-repeat: no-repeat;
  }
}
